body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(35, 79, 160);
    text-align: center;
    padding: 25px;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: rgb(3, 26, 70);
    padding: 20px;
    border-radius: 50px;
}
.logo {
    border-radius: 50px;
}
.navs {
    color: white;
    text-decoration: wavy;
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 30px;
    justify-content: right;
    margin-left: 500px;
    cursor: pointer;
}
.navs:hover {
    color: rgb(2, 5, 10);
    transition: ease-in-out 0.3s;
}

.page {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card-1 {
    background-color: rgb(9, 20, 41);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

.card-2 {
    background-color: rgb(29, 17, 65);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}
.card-3 {
    background-color: rgb(13, 5, 92);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
}
.card-1 :hover {
    background-color: rgb(9, 20, 41);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
}
 .card-2 :hover {
    background-color: rgb(9, 20, 41);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
 }
 .card-3 :hover {
    background-color: rgb(9, 20, 41);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
 }

 .sub-head {
    color: white;
    font-size: 30px;
    margin-top: 20px;
 }

 .card {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    background-color: rgb(37, 1, 24);
    padding: 20px;
    border-radius: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
 }
    .head {
        color: rgb(50, 15, 53);
        font-size: 40px;
        margin-top: 20px;
    }

    .par {
        color: white;
        font-size: 20px;
        margin-top: 20px;
        background-color: rgb(35, 11, 75);
        padding: 20px;
        border-radius: 20px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }






    .login{
    background-color: #211b55;
    text-align: center;
    list-style: none;
    color: aliceblue;
    font-size: larger;
    border-radius: 20px;
    paddind: 30px;
}
.signup{
    background-color: #211b55;
    text-align: center;
    list-style: none;
    color: aliceblue;
    font-size: larger   ;
}
.log{
    background-color: orange;
    color: white;
    border-radius: 30px;
    width: 75px;
    border: none;
    height: 40px;
    font-size: larger;
    margin-left: 40px;
}
.log:hover{
    background-color: black;
    transition-delay: 5ms;
}
.sign{
    background-color: orange;
    color: white;
    border-radius: 40px;
    width: 120px;
    border: none;
    height: 70px;
    font-size: larger;
    margin-left: 40px;
}

.sign:hover{
     background-color: black;
    transition-delay: 5ms;
}

.contact{
    background-color: #211b55;
    text-align: center;
    list-style: none;
    color: aliceblue;
    font-size: larger   ;
}
.message{
    background-color: orange;
    color: white;
    border-radius: 40px;
    width: 150px;
    border: none;
    height: 70px;
    font-size: larger;
    margin-left: 40px; 
}
.message:hover{
    background-color: black;
    transition-delay: 5ms;
}

.flex {
    background-color: rgb(17, 16, 70);
    max-width: 600px;
    text-align: center;
    margin-left: 150px;
    padding: 20px;
    border-radius: 20px;
    color: aliceblue;
}
.link{
    color: orangered;
}
